In [1]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

***

# TweetsCov19
#### In diesem Notebook werden folgende Schritte unternommen:
1. Die Inhalte der hydrierten Tweets werden in Dataframe eingetragen
2. Die gelöschten Tweets werden mithilfe der heydrierten Tweets identifiziert
3. Die Inhalte der gelöschten Tweets werden in Dataframe eingetragen
4. Eine zufällige Auswahl der Stichprobe wird aus TweetsCov19 durchgeführt.
5. Stichprobe wird gespeichert

---------------------------------------------------

In [11]:
#Diese Methode list jede Zeile von Jsonline, nimmt die TWeetID und den Text von jedem Tweet, und speichert sie. 

def id_Text_von_jsonl_in_tsv(pfad_jsonl, pfad_tsv):
    zaehler = 0
    with open(pfad_jsonl,'r',encoding="utf8") as jl:
        with open (pfad_tsv, 'w' , newline='', encoding="utf8") as hyd:
            writer = csv.writer(hyd, delimiter='\t')
            for t in jl:
                tweet = json.loads(t)
                #print(tweet)
                l = []
                l.append(int(tweet['id']))
                l.append(str(tweet['full_text']))
                #print(l)
                writer.writerow(l)
                
                zaehler += 1
    print('zaehler: ', zaehler)

In [12]:
pfad1 = 'C:/Mo/tweetDB/tweetscov19/tweetIDs/TweetsCOV19_hydrated.jsonl'
pfad2 = 'C:/Mo/tweetDB/tweetscov19/tweetIDs/TweetsCOV19_hydrated_id_text.tsv'

#Die Funktion wird gerufen 
id_Text_von_jsonl_in_tsv(pfad1, pfad2)

zaehler:  15656119

In [2]:
lables = ['Tweet_Id', "Benutzername", 'Zeitstempel', 'Abonnenten', 'Abonnierten', 'Retweets', 'Likes', 'Entities', 'Stimmung', 'Erwähnungen', 'Hashtags', 'URLs']
pfad_tweetscov19_1 = 'C:/Mo/tweetDB/tweetscov19/tweetIDs/TweetsCOV19.tsv'
pfad_tweetscov19_2 = 'C:/Mo/tweetDB/tweetscov19/tweetIDs/TweetsCOV19_052020.tsv'
pfad_tweetscov19_3 = 'C:/Mo/tweetDB/tweetscov19/tweetIDs/TweetsCOV19_3.tsv'

#TweetsCov19 besteht aus drei Teilen
# Hier wird erster Teil von tweetsCov19 gelesen

tweetsCov19_1 = pd.read_csv(pfad_tweetscov19_1, sep='\t', error_bad_lines=False, names=lables)
print('Form:', tweetsCov19_1.shape )
tweetsCov19_1.head()

Form: (8077794, 12)

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,Entities,Stimmung,Erwähnungen,Hashtags,URLs
0,1178791787386814465,35234fe4a19cc1a3336095fb3780bcc1,Mon Sep 30 22:00:37 +0000 2019,619,770,0,0,null;,2 -1,null;,null;,null;
1,1178791985106153472,ea4592f39636d87af8fb4b17b7e2e4c0,Mon Sep 30 22:01:24 +0000 2019,36365,19344,13,17,nazi:Nazism:-2.742538749414189;blood money:Blo...,1 -4,null;,null;,https://twitter.com/himalayahawk/status/117766...
2,1178793230223183872,bf05d1888dd974fa4a8679c25e2ead03,Mon Sep 30 22:06:21 +0000 2019,5018,1933,0,0,vaccine:Vaccine:-2.6651530673745762;anti vaxxe...,2 -1,null;,null;,https://goo.gl/fb/uoeiPk:-:
3,1178795172206919680,eb8a99bca8945eab1d006750e9b75518,Mon Sep 30 22:14:04 +0000 2019,2219,971,0,0,muse:Muse_%28band%29:-2.1677823918620867;talki...,2 -1,null;,null;,null;
4,1178798309491822592,00695cf79d60e86a5d0f872f4358337a,Mon Sep 30 22:26:32 +0000 2019,9009,4943,26,89,people of northern ireland:People_of_Northern_...,2 -1,null;,VFS,null;

In [3]:
# Hier wird zweiter Teil von tweetsCov19 gelesen

tweetsCov19_2 = pd.read_csv(pfad_tweetscov19_2, sep='\t', error_bad_lines=False, names=lables)
print('Form:', tweetsCov19_2.shape )
tweetsCov19_2.head()

Form: (1912070, 12)

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,Entities,Stimmung,Erwähnungen,Hashtags,URLs
0,1255980348229529601,fa5fd446e778da0acba3504aeab23da5,Thu Apr 30 22:00:24 +0000 2020,29697,24040,0,0,null;,1 -1,null;,Opinion Next2blowafrica thoughts,null;
1,1255981220640546816,547501e9cc84b8148ae1b8bde04157a4,Thu Apr 30 22:03:52 +0000 2020,799,1278,4,6,null;,1 -1,null;,null;,null;
2,1255981244560683008,840ac60dab55f6b212dc02dcbe5dfbd6,Thu Apr 30 22:03:58 +0000 2020,586,378,1,2,null;,2 -1,null;,null;,https://www.bbc.com/news/uk-england-beds-bucks...
3,1255981472285986816,37c68a001198b5efd4a21e2b68a0c9bc,Thu Apr 30 22:04:52 +0000 2020,237,168,0,0,null;,1 -1,null;,null;,https://lockdownsceptics.org/2020/04/30/latest...
4,1255981581354905600,8c3620bdfb9d2a1acfdf2412c9b34e06,Thu Apr 30 22:05:18 +0000 2020,423,427,0,0,i hate u:I_Hate_U:-1.8786140035817729;quaranti...,1 -4,null;,null;,null;

In [4]:
# Hier wird dritter Teil von tweetsCov19 gelesen

tweetsCov19_3 = pd.read_csv(pfad_tweetscov19_3, sep='\t', error_bad_lines=False, names=lables)
print('Form:', tweetsCov19_3.shape )
tweetsCov19_3.head()

Form: (9979701, 12)

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,Entities,Stimmung,Erwähnungen,Hashtags,URLs
0,1267214367881388035,4a493d9ef839054bbf2997fe10219ccd,Sun May 31 22:00:23 +0000 2020,525,285,0,0,orange chicken:Orange_chicken:-1.7264594681340...,1 -1,null;,QuarantineCuisine,null;
1,1267214480192212993,601633f254c336271110c5837e831196,Sun May 31 22:00:50 +0000 2020,4851,4948,56,103,blacklivesmatter:Black_Lives_Matter:-2.0000780...,1 -1,null;,blacklivesmatter,null;
2,1267215059912179712,3b81eab3fb645a50b3d652a837c54ed5,Sun May 31 22:03:08 +0000 2020,145,234,0,0,birds of a feather:Birds_of_a_Feather:-1.45788...,1 -3,QuarantineTrac1 BeardsleeSherri,democrats madness DemocraticPartyPoliticians p...,null;
3,1267215114438168582,d80da4bb147e3829b48e305795e84b0e,Sun May 31 22:03:21 +0000 2020,130,581,0,0,vote leave:Vote_Leave:-1.2547500378858394;tory...,1 -1,lewis_goodall jo_penberthy ShippersUnbound,null;,null;
4,1267216070739464192,9e83fa483d2860d8147f9765d125e40b,Sun May 31 22:07:09 +0000 2020,263,241,0,0,you re telling me:You%27re_Telling_Me%21:-1.79...,2 -3,null;,null;,null;

In [5]:
# Hier werden drei Teile von TweetsCov19 zueinander angehängt.

tweetsCov19_1 = tweetsCov19_1.append(tweetsCov19_2, ignore_index=True)
tweetsCov19 = tweetsCov19_1.append(tweetsCov19_3, ignore_index=True)
print('Die Form von TweetsCov19:', tweetsCov19.shape)
tweetsCov19.head()

Die Form von TweetsCov19: (19969565, 12)

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,Entities,Stimmung,Erwähnungen,Hashtags,URLs
0,1178791787386814465,35234fe4a19cc1a3336095fb3780bcc1,Mon Sep 30 22:00:37 +0000 2019,619,770,0,0,null;,2 -1,null;,null;,null;
1,1178791985106153472,ea4592f39636d87af8fb4b17b7e2e4c0,Mon Sep 30 22:01:24 +0000 2019,36365,19344,13,17,nazi:Nazism:-2.742538749414189;blood money:Blo...,1 -4,null;,null;,https://twitter.com/himalayahawk/status/117766...
2,1178793230223183872,bf05d1888dd974fa4a8679c25e2ead03,Mon Sep 30 22:06:21 +0000 2019,5018,1933,0,0,vaccine:Vaccine:-2.6651530673745762;anti vaxxe...,2 -1,null;,null;,https://goo.gl/fb/uoeiPk:-:
3,1178795172206919680,eb8a99bca8945eab1d006750e9b75518,Mon Sep 30 22:14:04 +0000 2019,2219,971,0,0,muse:Muse_%28band%29:-2.1677823918620867;talki...,2 -1,null;,null;,null;
4,1178798309491822592,00695cf79d60e86a5d0f872f4358337a,Mon Sep 30 22:26:32 +0000 2019,9009,4943,26,89,people of northern ireland:People_of_Northern_...,2 -1,null;,VFS,null;

In [6]:
#Pfad von TweetsCov19-Dataframe
pfad_tweetscov19_hydrated_texts = 'C:/Mo/tweetDB/tweetscov19/tweetIDs/TweetsCOV19_hydrated_id_text.tsv'

# Die Ids und Texts von den Hydrieretn Tweets lesen

tweetscov19_hydrated_texts = pd.read_csv(pfad_tweetscov19_hydrated_texts, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'text'])
pd.options.display.max_columns = None
print('Shape:', tweetscov19_hydrated_texts.shape )
tweetscov19_hydrated_texts.head()

Shape: (15656119, 2)

              Tweet_Id                                               text
0  1267214367881388035  Orange chicken, asparagus, mushrooms, and rice...
1  1267214480192212993  Solidarity isn't enough. We need to reform pol...
2  1267215114438168582  @lewis_goodall @jo_penberthy @ShippersUnbound ...
3  1267216314038464524  It goes without saying that it's impossible to...
4  1267216611829825536  @MsNicole124 @THEFXR1 You’re absolutely right ...

In [7]:
#Hier werden die Texts von den hydrierten tweets zu Dataframe hinzugefügt.
tweetsCov19 = pd.merge(tweetsCov19, tweetscov19_hydrated_texts, on='Tweet_Id', how='left')
print('Form von TweetsCov19:', tweetsCov19.shape)

Form von TweetsCov19: (19969595, 13)

In [8]:
#Hier wir eine neue Spalte für Dataframe erzeugt.
#Wenn ein Text in der Zeile existiert, wird die Feature 'Ist_gelöscht'  mit True, und es kein Text existiert wird es mit False markiert. 

tweetsCov19['Ist_gelöscht'] = tweetsCov19.apply(lambda row: True if pd.isnull(row['text']) else False, axis=1)
tweetsCov19.head()

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,Entities,Stimmung,Erwähnungen,Hashtags,URLs,text,Ist_gelöscht
0,1178791787386814465,35234fe4a19cc1a3336095fb3780bcc1,Mon Sep 30 22:00:37 +0000 2019,619,770,0,0,null;,2 -1,null;,null;,null;,NaN,True
1,1178791985106153472,ea4592f39636d87af8fb4b17b7e2e4c0,Mon Sep 30 22:01:24 +0000 2019,36365,19344,13,17,nazi:Nazism:-2.742538749414189;blood money:Blo...,1 -4,null;,null;,https://twitter.com/himalayahawk/status/117766...,NaN,True
2,1178793230223183872,bf05d1888dd974fa4a8679c25e2ead03,Mon Sep 30 22:06:21 +0000 2019,5018,1933,0,0,vaccine:Vaccine:-2.6651530673745762;anti vaxxe...,2 -1,null;,null;,https://goo.gl/fb/uoeiPk:-:,From my blog: Californians support vaccine law...,False
3,1178795172206919680,eb8a99bca8945eab1d006750e9b75518,Mon Sep 30 22:14:04 +0000 2019,2219,971,0,0,muse:Muse_%28band%29:-2.1677823918620867;talki...,2 -1,null;,null;,null;,NaN,True
4,1178798309491822592,00695cf79d60e86a5d0f872f4358337a,Mon Sep 30 22:26:32 +0000 2019,9009,4943,26,89,people of northern ireland:People_of_Northern_...,2 -1,null;,VFS,null;,Secretary of State should recall Stormont next...,False

In [15]:
#In diesem Teil werden die Ids von gelöschten Tweets aussortiert und gespeichert

df_gelöscht = tweetsCov19[tweetsCov19['Ist_gelöscht'] == True]
df_gelöscht = df_gelöscht[['Tweet_Id']]

pfad_ids_gelöscht = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/tweetscov19_gelöscht_ids.tsv'

with open(pfad_ids_gelöscht, 'w', newline='', encoding="utf-8") as out_file:
        tsv_writer = csv.writer(out_file, delimiter="\t")
        for idx, row in df_gelöscht.iterrows():
            tsv_writer.writerow(row.values.tolist())

In [9]:
#Labels von Features der gelsöchten Tweets
labales_gelöschte_Tweets = ['Tweet_Id', "Benutzername", 'Zeitstempel', 'Abonnenten', 'Abonnierten', 'Retweets', 'Likes', 'text_gelöscht', 'URLs']
#Der Pfad zu gelöschten Tweets
pfad_tweetscov19_gelöscht = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/deleted_tweetscov19_tweets.tsv'

#Hier werden die gelöschten Tweets von TweetsCov19, die von dem TweetsKB-Repository heruntergeladen wurden, gelesen.
tweetsCov19_gelöscht = pd.read_csv(pfad_tweetscov19_gelöscht, sep='\t', error_bad_lines=False, names=labales_gelöschte_Tweets)
pd.options.display.max_columns = None
print('Shape:', tweetsCov19_gelöscht.shape )
tweetsCov19_gelöscht.head()

Shape: (4291537, 9)

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,text_gelöscht,URLs
0,1178793574177087488,SunseedSweetie,Mon Sep 30 22:07:43 +0000 2019,1982,1536,0,0,@SpaceJesterMarx //I'm just personally in shoc...,null;
1,1178798095624278017,paulbaalham,Mon Sep 30 22:25:41 +0000 2019,1104,447,0,0,@Chimpy20 I'm guessing upper class does. I was...,null;
2,1178809369896587265,eath1223,Mon Sep 30 23:10:29 +0000 2019,16313,15935,0,0,@Vana1970 @AMusesArt People survived with out ...,null;
3,1178810066159460355,nick_marr,Mon Sep 30 23:13:15 +0000 2019,2700,1376,0,0,I shall simply appeal to both the zoomers and ...,null;
4,1178810783381147648,BIG_JOHN1245,Mon Sep 30 23:16:06 +0000 2019,18,24,0,0,@theblaze @HillaryClinton OMG....WHY IS ANYONE...,null;

In [10]:
#Die Texts werden hier von den hydrierten Tweets zu Dataframe hinzugefügt

tweetsCov19_gelöscht = tweetsCov19_gelöscht[['Tweet_Id', 'text_gelöscht']]
tweetsCov19 = pd.merge(tweetsCov19, tweetsCov19_gelöscht, on='Tweet_Id', how='left')
print('Form von TweetsCov19', tweetsCov19.shape)
tweetsCov19.head()

Form von TweetsCov19 (19969595, 15)

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,Entities,Stimmung,Erwähnungen,Hashtags,URLs,text,Ist_gelöscht,text_gelöscht
0,1178791787386814465,35234fe4a19cc1a3336095fb3780bcc1,Mon Sep 30 22:00:37 +0000 2019,619,770,0,0,null;,2 -1,null;,null;,null;,NaN,True,NaN
1,1178791985106153472,ea4592f39636d87af8fb4b17b7e2e4c0,Mon Sep 30 22:01:24 +0000 2019,36365,19344,13,17,nazi:Nazism:-2.742538749414189;blood money:Blo...,1 -4,null;,null;,https://twitter.com/himalayahawk/status/117766...,NaN,True,I’ve been talking about Nazi china’s Kunlun Ba...
2,1178793230223183872,bf05d1888dd974fa4a8679c25e2ead03,Mon Sep 30 22:06:21 +0000 2019,5018,1933,0,0,vaccine:Vaccine:-2.6651530673745762;anti vaxxe...,2 -1,null;,null;,https://goo.gl/fb/uoeiPk:-:,From my blog: Californians support vaccine law...,False,NaN
3,1178795172206919680,eb8a99bca8945eab1d006750e9b75518,Mon Sep 30 22:14:04 +0000 2019,2219,971,0,0,muse:Muse_%28band%29:-2.1677823918620867;talki...,2 -1,null;,null;,null;,NaN,True,"2. When have a fresh muse after flipping, you ..."
4,1178798309491822592,00695cf79d60e86a5d0f872f4358337a,Mon Sep 30 22:26:32 +0000 2019,9009,4943,26,89,people of northern ireland:People_of_Northern_...,2 -1,null;,VFS,null;,Secretary of State should recall Stormont next...,False,NaN

In [11]:
#In diesem Teil wird eine Spalte, die Tweetinhalte von gelöschten und nicht gelöschten Tweets enthält erzeugt.
tweetsCov19['text'] = tweetsCov19.apply(lambda row: row['text_gelöscht'] if pd.isnull(row['text']) else row['text'], axis=1)
tweetsCov19.head(10)

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,Entities,Stimmung,Erwähnungen,Hashtags,URLs,text,Ist_gelöscht,text_gelöscht
0,1178791787386814465,35234fe4a19cc1a3336095fb3780bcc1,Mon Sep 30 22:00:37 +0000 2019,619,770,0,0,null;,2 -1,null;,null;,null;,NaN,True,NaN
1,1178791985106153472,ea4592f39636d87af8fb4b17b7e2e4c0,Mon Sep 30 22:01:24 +0000 2019,36365,19344,13,17,nazi:Nazism:-2.742538749414189;blood money:Blo...,1 -4,null;,null;,https://twitter.com/himalayahawk/status/117766...,I’ve been talking about Nazi china’s Kunlun Ba...,True,I’ve been talking about Nazi china’s Kunlun Ba...
2,1178793230223183872,bf05d1888dd974fa4a8679c25e2ead03,Mon Sep 30 22:06:21 +0000 2019,5018,1933,0,0,vaccine:Vaccine:-2.6651530673745762;anti vaxxe...,2 -1,null;,null;,https://goo.gl/fb/uoeiPk:-:,From my blog: Californians support vaccine law...,False,NaN
3,1178795172206919680,eb8a99bca8945eab1d006750e9b75518,Mon Sep 30 22:14:04 +0000 2019,2219,971,0,0,muse:Muse_%28band%29:-2.1677823918620867;talki...,2 -1,null;,null;,null;,"2. When have a fresh muse after flipping, you ...",True,"2. When have a fresh muse after flipping, you ..."
4,1178798309491822592,00695cf79d60e86a5d0f872f4358337a,Mon Sep 30 22:26:32 +0000 2019,9009,4943,26,89,people of northern ireland:People_of_Northern_...,2 -1,null;,VFS,null;,Secretary of State should recall Stormont next...,False,NaN
5,1178801459439296514,6ff6c6532fe0c399dcedd1dad6249c28,Mon Sep 30 22:39:03 +0000 2019,284,935,0,0,cnn:CNN:-0.9113024985533761;,3 -2,null;,null;,null;,Last appearance on CNN by Rick Lowry- Only lik...,True,Last appearance on CNN by Rick Lowry- Only lik...
6,1178802464914657286,dbd298dfc487b7e6a7e220439dc91983,Mon Sep 30 22:43:03 +0000 2019,3605,3526,5,13,null;,3 -1,null;,null;,null;,sometimes i randomly remember when yoongi saw ...,False,NaN
7,1178803230962327555,c3df67279d13e650c44d529c92476d30,Mon Sep 30 22:46:06 +0000 2019,5945,47,1,6,youtube:YouTube:-1.0295623705363122;super bowl...,3 -1,YouTube,null;,https://www.youtube.com/watch?v=jWdhOfNmLsE&fe...,"INSANITY -- Super Bowl On The Line, And THIS H...",False,NaN
8,1178803487037108225,fc48c9cc30420a1af599e735a14b0b8a,Mon Sep 30 22:47:07 +0000 2019,156538,3858,56,131,vontaze burfict:Vontaze_Burfict:-0.77486020920...,1 -1,null;,Raiders,null;,Update: Vontaze Burfict's agent Lamont Smith j...,False,NaN
9,1178803977376415749,f734f2f2c94d7de900d18c59cc858d48,Mon Sep 30 22:49:03 +0000 2019,27014,24488,39,37,winter storm:Winter_storm:-1.9824755199970392;...,2 -1,AOC,null;,https://mtstandard.com/news/local/winter-storm...,@AOC &amp; ⁦⁦@GretaThunberg⁩ what’s up w/ this...,True,@AOC &amp; ⁦⁦@GretaThunberg⁩ what’s up w/ this...

In [7]:
#Zuerst wird hier die Spalte text_gelöscht weggenommen
#Dann werden die Tweets nach ihrem Zeitstempel aufsteigend sortiert. 
tweetsCov19 = tweetsCov19[['Tweet_Id', "Benutzername", 'Zeitstempel', 'Abonnenten', 'Abonnierten', 'Retweets', 'Likes', 'Entities', 'Stimmung', 'Erwähnungen', 'Hashtags', 'URLs', 'text', 'Ist_gelöscht']]

tweetsCov19.Zeitstempel = pd.to_datetime(tweetsCov19.Zeitstempel)
tweetsCov19.sort_values(by = ['Zeitstempel'], inplace=True, ascending = True)

C:\Users\mdsam\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
<ipython-input-7-7eda903188e8>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweetsCov19.sort_values(by = ['Timestamp'], inplace=True, ascending = True)

In [8]:
start_datum = tweetsCov19.Zeitstempel.iloc[0]
end_datum = tweetsCov19.Zeitstempel.iloc[-1]

In [9]:
print('Start : ', start_datum)
print('End   : ', end_datum)

Start :  2019-09-30 22:00:00+00:00
End   :  2020-12-31 22:59:54+00:00

In [10]:
#Die im Zeitraum von 30.09.2019 bis 31.05.2020 verfassten Tweets werden hier aussortiert

start_datum = '2019-09-30 22:00:00+00:00'
end_datum  = '2020-05-31 22:59:54+00:00'

cond = (tweetsCov19['Zeitstempel'] > start_datum) & (tweetsCov19['Zeitstempel'] <= end_datum)
tweetsCov19 = tweetsCov19[cond]
print('Shape :', tweetsCov19.shape)

Shape : (9992261, 14)

In [11]:
#Hier wird eine Stichprobe von 9,409,840 Tweets von der Dataframe gezogen
tweetsCov19 = tweetsCov19.sample(n = 9409841)
print('Shape :', tweetsCov19.shape)

Shape : (9409841, 14)

In [13]:
#Da wird die Stichprobe gespeichert.
pfad_Stichprobe = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/tweetscov19_stichprobe.tsv'

with open(pfad_Stichprobe, 'w', newline='', encoding="utf-8") as out_file:
        tsv_writer = csv.writer(out_file, delimiter="\t")
        for idx, row in tweetsCov19.iterrows():
            tsv_writer.writerow(row.values.tolist())