In [2]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke f√ºr die Gr√∂√üe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

***

# Verfasste Tweets von Moderaten und Hardliner

#### Zuerst werden die Tweets der Benutzer in TweetsCov19 bearbeitet, dann die Tweets der Benutzer in TweetsKB

1. Die geposteten Tweets von anerkannten Benutzer mit polarisierten moderaten Ansichten werden ausgew√§hlt.
2. Die Anzahl der geposteten und gel√∂schten Tweets, L√∂schungsquote und Reputation wird zu Dataframe hinzugef√ºgt.
3. Die Feature Ist_gel√∂scht wird zu dataframe hinzugef√ºgt, damit die gel√∂schten Tweets zu finden w√§ren.
4. Dataframe wird gespeichert.

***

### TweetsCov19:

In [2]:
#Die Dataframe, die Informationen √ºber die Dom√§ne enth√§lt und sich auf Benutzer mit bekannten moderaten Meinungen bezieht, wird gelesen.
pfad_tsv1 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/tweetscov19_unique_user_dom_moderacy.tsv'

df_tweetscov19_moderacy = pd.read_csv(pfad_tsv1, sep='\t', error_bad_lines=False, names=['Username', 'Urls_num', 'neg', 'pos', 'Url_dom', 'moderacy'])
pd.options.display.max_columns = None
print('Shape :', df_tweetscov19_moderacy.shape)
df_tweetscov19_moderacy.head()

Shape : (96513, 6)

                           Username  Urls_num  neg  pos  Url_dom  moderacy
0  00008ca06f863b962f72cc9167d7978a         1   -1    0        1      -1.0
1  00016e20a3865cb74581803c27d27b89         1   -1    0        1      -1.0
2  0001a863c159122c712c53258cf13c8b         1    0    1        1       1.0
3  000220d9d43b6b1ad7dbbdbfbcc53371         5   -2    0        2      -1.0
4  000353a523eec0084e195fafc082a6a9         1    0    1        1       1.0

In [3]:
#Die Dataframe, die die Anzhal der geposteten und gel√∂schten Tweets sowie L√∂schungsquote und Reputation enth√§lt wirde hier gelesen.
pfad_tsv = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/TweetsCov19_sample/TweetsCov19_alle_geloeschten/TweetsCov19_all_repu_del_.tsv'

df_tweetscov19_user_repu_del = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Followers', 'Friends', 'is_deleted', 'Reputation', 'num_posted', 'num_del', 'Deletion_ratio'])
pd.options.display.max_columns = None
print('Form :', df_tweetscov19_user_repu_del.shape)
df_tweetscov19_user_repu_del.head()

Form : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,Reputation,num_posted,num_del,Deletion_ratio
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,764191,132,True,0.999827,21,21,1.0
1,1181705842275573766,c57d4fb895c5f4a33d2a2b24709f93b5,765034,132,True,0.999827,21,21,1.0
2,1187828746503540738,c57d4fb895c5f4a33d2a2b24709f93b5,766578,132,True,0.999827,21,21,1.0
3,1192622772658290688,c57d4fb895c5f4a33d2a2b24709f93b5,767939,133,True,0.999827,21,21,1.0
4,1193272068621717504,c57d4fb895c5f4a33d2a2b24709f93b5,768180,133,True,0.999827,21,21,1.0

In [4]:
#Die Anzhal der geposteten und gel√∂schten Tweets sowie L√∂schungsquote und Reputation wird zu der Benutzer mit bekannten moderaten Ansichten hinzugef√ºgt.
df_tweetscov19_user_repu_del = df_tweetscov19_user_repu_del[['Tweet_Id', 'Username', 'num_posted', 'num_del', 'Deletion_ratio', 'Reputation']]
df_tweetscov19_moderacy = pd.merge( df_tweetscov19_user_repu_del, df_tweetscov19_moderacy, on='Username', how='inner')
print('Form :', df_tweetscov19_moderacy.shape)
df_tweetscov19_moderacy.head()

Form : (1400203, 11)

,Tweet_Id,Username,num_posted,num_del,Deletion_ratio,Reputation,Urls_num,neg,pos,Url_dom,moderacy
0,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,24,5,0.208333,0.572205,7,-1,0,1,-1.0
1,1179408833728466944,7966d5716c1c4f33591b17755184e3d6,24,5,0.208333,0.572205,7,-1,0,1,-1.0
2,1182683474827739136,7966d5716c1c4f33591b17755184e3d6,24,5,0.208333,0.572205,7,-1,0,1,-1.0
3,1184746364158271488,7966d5716c1c4f33591b17755184e3d6,24,5,0.208333,0.572205,7,-1,0,1,-1.0
4,1185117204628623360,7966d5716c1c4f33591b17755184e3d6,24,5,0.208333,0.572205,7,-1,0,1,-1.0

In [3]:
#Die TweetsCov19-Stichprobe wird gelesen.
pfad_tsv1 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/TweetsCov19_sample/tweetsCov19_sample_2.tsv'

df_tweetscov19 = pd.read_csv(pfad_tsv1, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Friends', 'Retweets', 'Favorites', 'Entities', 'Sentiment', 'Mentions', 'Hashtags', 'URLs', 'text', 'is_deleted', 'Mentions_num','Hashtags_num', 'Urls_num', 'Url_dom', 'Vader_neg', 'Vader_neu', 'Vader_pos', 'Vader_com', 'Sentiment_pos', 'Sentiment_neg', 'Sentiment_sum', 'fk_readability', 'fk_grade_level', 'Text_len', "Entities_len", 'Emojies', 'Emoji_num',  'Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_sentiment', 'Emoji_bearbeiteten'])
pd.options.display.max_columns = None
print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 36)

,Tweet_Id,Username,Timestamp,Followers,Friends,Retweets,Favorites,Entities,Sentiment,Mentions,Hashtags,URLs,text,is_deleted,Mentions_num,Hashtags_num,Urls_num,Url_dom,Vader_neg,Vader_neu,Vader_pos,Vader_com,Sentiment_pos,Sentiment_neg,Sentiment_sum,fk_readability,fk_grade_level,Text_len,Entities_len,Emojies,Emoji_num,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_sentiment,Emoji_bearbeiteten
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,2019-09-30 22:00:01+00:00,764191,132,19,180,foodie:Foodie:-2.096663959988218;,1 -1,null;,HalloweenTime?,null;,Has your appetite materialized just as fast as...,True,0,1,0,0,-0.000,1.000,0.000,0.0000,1,-1,0,76.553,7th Grade,155,1,[],0,-0.000,0.000,0.00,0.0000,0.0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,2019-09-30 22:00:02+00:00,321189,26833,32,43,mainland china:Mainland_China:-1.6252666161640...,1 -1,null;,HongKong,https://www.catholicnewsagency.com/news/amid-h...,The persecution of Catholics in mainland China...,False,0,1,1,catholicnewsagency.com,-0.000,0.919,0.081,0.3182,1,-1,0,29.468,College Graduate,204,2,[],0,-0.000,0.000,0.00,0.0000,0.0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,2019-09-30 22:00:03+00:00,14209,10623,90,182,brexit:Brexit:-1.582809637810362;hear hear:Hea...,1 -2,null;,Brexit,null;,"Hear, hear..\nEmily: You were an outspoken cri...",False,0,1,0,0,-0.202,0.798,0.000,-0.6486,1,-2,-1,79.534,7th Grade,163,2,[],0,-0.000,0.000,0.00,0.0000,0.0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,2019-09-30 22:00:03+00:00,2264986,655,60,528,null;,3 -1,amstandardca.,BlueJays,null;,We wrapped up the season with a WINNING week! ...,False,1,1,0,0,-0.000,0.624,0.376,0.8633,3,-1,2,85.889,6th Grade,132,0,[],0,-0.000,0.000,0.00,0.0000,0.0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,2019-09-30 22:00:03+00:00,171,138,33,117,my family:My_Family:-2.6353832182503094;roll t...,4 -1,null;,null;,null;,Super excited to announce that I will be spend...,False,0,0,0,0,-0.000,0.765,0.235,0.9117,4,-1,3,61.203,9th Grade,257,2,"['üêò', 'üî¥']",2,-0.015,0.265,0.22,0.2235,2.0

In [6]:
#Die Feature 'is_deleted' wird von TweetsCov19 ausgew√§hlt und mit der aus moderaten Benutzer bestehenden Dataframe vereinigt.
#Dadurch wird die Information zu dem Tweet hinzugef√ºgt, ob der Tweet gel√∂scht wurde oder nicht.
df_tweetscov19 = df_tweetscov19[['Tweet_Id', 'is_deleted']]
df_tweetscov19_moderacy = pd.merge(df_tweetscov19_moderacy, df_tweetscov19, on='Tweet_Id', how='inner')
print('Shape :', df_tweetscov19_moderacy.shape)
df_tweetscov19_moderacy.head()

Shape : (1400203, 12)

,Tweet_Id,Username,num_posted,num_del,Deletion_ratio,Reputation,Urls_num,neg,pos,Url_dom,moderacy,is_deleted
0,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,24,5,0.208333,0.572205,7,-1,0,1,-1.0,False
1,1179408833728466944,7966d5716c1c4f33591b17755184e3d6,24,5,0.208333,0.572205,7,-1,0,1,-1.0,True
2,1182683474827739136,7966d5716c1c4f33591b17755184e3d6,24,5,0.208333,0.572205,7,-1,0,1,-1.0,False
3,1184746364158271488,7966d5716c1c4f33591b17755184e3d6,24,5,0.208333,0.572205,7,-1,0,1,-1.0,False
4,1185117204628623360,7966d5716c1c4f33591b17755184e3d6,24,5,0.208333,0.572205,7,-1,0,1,-1.0,True

In [8]:
#Die neue Dataframe wird gespeichert.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/TweetsCov19_sample/df_polarisierungen/tweetscov19_user_tweets_moderacy_all.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19_moderacy.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

### TweetsKB:

***

In [2]:
#Die Dataframe, die Informationen √ºber die Dom√§ne enth√§lt und sich auf Benutzer mit bekannten moderaten Meinungen bezieht, wird gelesen.
pfad_tsv1 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/tweetskb_unique_user_dom_moderacy.tsv'

df_tweetskb_moderacy = pd.read_csv(pfad_tsv1, sep='\t', error_bad_lines=False, names=['Username', 'Urls_num', 'neg', 'pos', 'Url_dom', 'moderacy'])
pd.options.display.max_columns = None
print('Shape :', df_tweetskb_moderacy.shape)
df_tweetskb_moderacy.head()

Shape : (34352, 6)

      Username  Urls_num  neg  pos  Url_dom  moderacy
0   0000Condor         1    0    1        1       1.0
1   007plus100         1   -1    0        1      -1.0
2     01_zebra         4   -1    0        1      -1.0
3        01pod         1   -1    0        1      -1.0
4  01ravenking         2   -1    0        1      -1.0

In [4]:
#Die Dataframe, die die Anzhal der geposteten und gel√∂schten Tweets sowie L√∂schungsquote und Reputation enth√§lt wirde hier gelesen.
pfad_tsv = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/Tweetskb_sample/TweetsKB_alle_geloeschten/TweetsKB_all_repu_del_.tsv'

df_tweetskb_user_repu_del = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Followers', 'Friends', 'is_deleted', 'num_posted', 'num_del', 'Deletion_ratio',  'Reputation'])
pd.options.display.max_columns = None
print('Form :', df_tweetskb_user_repu_del.shape)
df_tweetskb_user_repu_del.head()

Form : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,num_posted,num_del,Deletion_ratio,Reputation
0,1178791636039589889,DCComics,3349606,563,False,42,0,0.0,0.999832
1,1179833467644850176,DCComics,3351904,563,False,42,0,0.0,0.999832
2,1180490470125965313,DCComics,3354879,563,False,42,0,0.0,0.999832
3,1187059882534400000,DCComics,3369484,562,False,42,0,0.0,0.999832
4,1190311668141580288,DCComics,3376154,564,False,42,0,0.0,0.999832

In [4]:
#die Anzhal der geposteten und gel√∂schten Tweets sowie L√∂schungsquote und Reputation wird zu der Benutzer mit bekannten moderaten ansichten hinzugef√ºgt.
df_tweetskb_user_repu_del = df_tweetskb_user_repu_del[['Tweet_Id', 'Username', 'num_posted', 'num_del', 'Deletion_ratio', 'Reputation']]
df_tweetskb_moderacy = pd.merge( df_tweetskb_user_repu_del, df_tweetskb_moderacy, on='Username', how='inner')
print('Form :', df_tweetskb_moderacy.shape)
df_tweetskb_moderacy.head()

Form : (310296, 11)

,Tweet_Id,Username,num_posted,num_del,Deletion_ratio,Reputation,Urls_num,neg,pos,Url_dom,moderacy
0,1178792055822311426,Londonscot3,3,0,0.0,0.367463,1,-1,0,1,-1.0
1,1180815036824117250,Londonscot3,3,0,0.0,0.367463,1,-1,0,1,-1.0
2,1221572333439197184,Londonscot3,3,0,0.0,0.367463,1,-1,0,1,-1.0
3,1178792079155179520,Mauerback,11,0,0.0,0.946639,5,-1,0,1,-1.0
4,1202256426858668032,Mauerback,11,0,0.0,0.946639,5,-1,0,1,-1.0

In [5]:
#Die Dataframe TweetsKB wird hier gelesen.
pfad_tsv = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/tweetskb_sample/tweetskb_sample_emojie_2.tsv'

df_tweetskb = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', "Username", 'Timestamp', 'Followers', 'Friends', 'Retweets', 'Favorites', 'Text', 'Urls', 'is_deleted', 'Hashtags', 'Mentions', 'vader_pos', 'vader_neu', 'vader_neg', 'vader_com', 'Hashtags_num', 'Mentions_num', 'Text_len', 'URLs_dom', 'URLs_num', 'readability', 'Emojie', 'Emoji_num','Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_sent', 'Emoji_b_zahl' ])
pd.options.display.max_columns = None
print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 29)

,Tweet_Id,Username,Timestamp,Followers,Friends,Retweets,Favorites,Text,Urls,is_deleted,Hashtags,Mentions,vader_pos,vader_neu,vader_neg,vader_com,Hashtags_num,Mentions_num,Text_len,URLs_dom,URLs_num,readability,Emojie,Emoji_num,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_sent,Emoji_b_zahl
0,1178791636039589889,DCComics,2019-09-30 22:00:01+00:00,3349606,563,2,13,"Today on #DCDaily, the crew takes a deep dive ...",http://bit.ly/2mlNYpS:-:,False,['DCDaily'],['DCUTitans'],0.000,1.000,-0.0,0.0000,1,1,192,dcuniverseinfinite.com,1,70.350,[],0,-0.0,0.0,0.0,0.0,0.0
1,1178791641265639424,seanberdyz,2019-09-30 22:00:02+00:00,1203,499,4,20,ùò™‚ÄôùòÆ ùò®ùò∞ùòØùòØùò¢ ùò£ùò¶ ùò≥ùò™ùò®ùò©ùòµ ùò©ùò¶ùò≥ùò¶ ‚ü∂ https://t.co/kOxWQL5...,http://ourownside.carrd.co:-:,True,[],[],0.000,1.000,-0.0,0.0000,0,0,73,carrd.co,1,82.390,[],0,-0.0,0.0,0.0,0.0,0.0
2,1178791640573579264,AnArtistAtBirth,2019-09-30 22:00:02+00:00,109,215,0,0,‚ùõ ùò†ùò∞ùò∂'ùò≥ùò¶ ùò¥ùò™ùòµùòµùò™ùòØ' ùò∞ùòØ ùò∫ùò∞ùò∂ùò≥ ùòßùò¶ùò¶ùò≠ùò™ùòØùò®ùò¥ . . . ùòê'ùòÆ ùò¥ùò™...,null;,True,['ùòõùò©ùò¶ùò∞ùòØùò¶'],[],0.000,1.000,-0.0,0.0000,1,0,128,0,0,123.755,[],0,-0.0,0.0,0.0,0.0,0.0
3,1178791644797255680,lagosboygang,2019-09-30 22:00:03+00:00,571,1401,0,0,@Tiffany_o_ @UG_derrick That's the one i wanna...,null;,True,[],"['Tiffany_o_', 'UG_derrick']",0.000,1.000,-0.0,0.0000,0,2,77,0,0,105.921,[],0,-0.0,0.0,0.0,0.0,0.0
4,1178791648056217600,Phenom_Hoops,2019-09-30 22:00:04+00:00,25630,1674,1,1,2022 6‚Äô9 Perry Smith Jr. showcasing his high-m...,https://www.phenomhoopreport.com/2022-69-perry...,False,['PhenomHoops'],[],0.058,0.942,-0.0,0.2263,1,0,227,phenomhoopreport.com,1,65.943,[],0,-0.0,0.0,0.0,0.0,0.0

In [6]:
#Die Feature 'is_deleted' wird zu der Tweets von moderten Benutzer hinzugef√ºgt.
#Dadurch wird die Information zu dem Tweet hinzugef√ºgt, ob der Tweet gel√∂scht wurde oder nicht.
df_tweetskb = df_tweetskb[['Tweet_Id', 'is_deleted']]
df_tweetskb_moderacy = pd.merge(df_tweetskb_moderacy, df_tweetskb, on='Tweet_Id', how='inner')
print('Shape :', df_tweetskb_moderacy.shape)
df_tweetskb_moderacy.head()

Shape : (310296, 12)

,Tweet_Id,Username,num_posted,num_del,Deletion_ratio,Reputation,Urls_num,neg,pos,Url_dom,moderacy,is_deleted
0,1178792055822311426,Londonscot3,3,0,0.0,0.367463,1,-1,0,1,-1.0,False
1,1180815036824117250,Londonscot3,3,0,0.0,0.367463,1,-1,0,1,-1.0,False
2,1221572333439197184,Londonscot3,3,0,0.0,0.367463,1,-1,0,1,-1.0,False
3,1178792079155179520,Mauerback,11,0,0.0,0.946639,5,-1,0,1,-1.0,False
4,1202256426858668032,Mauerback,11,0,0.0,0.946639,5,-1,0,1,-1.0,False

In [8]:
#Die neue Dataframe wird gespeichert.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/Tweetskb_sample/df_polarisierungen/tweetskb_user_tweets_moderacy_all.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb_moderacy.iterrows():
        tsv_writer.writerow(row.values.tolist())