In [1]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

***

# Benutzer Features(Ohne Polarisierungen)
#### Zuerst werden die Tweets in TweetsCov19 bearbeitet, dann die Tweets in TweetsKB

- Anzahl der geposteten Tweets wird berechnet
- Anzahl der gelöschten Tweest wird berechnet
- Löschungsquote wird berechnet
- Reputaion wird berechnet

***

**TweetsCov19:**

In [2]:
#Labels und Pfad für den TweetsCov19
TweetsCov19_labels = ['Tweet_Id', "Benutzername", 'Zeitstempel', 'Abonnenten', 'Abonnierten', 'Retweets', 'Likes', 'Entities', 'Stimmung', 'Erwähnungen', 'Hashtags', 'URLs', 'Text', 'Ist_gelöscht', 'Anzahl der Erwähnungen', 'Anzahl der Hashtags', 'Anzahl der URLs', 'Domäne', 'Textlänge', 'Lesbarkeit']
TweetsCov19_Pfad =  'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/tweetscov19_sample/TweetsCov19_stichprobe_lesbarkeit.tsv'

In [3]:
#Stichprobe von Tweetscov19 lesen
df_tweetscov19 = pd.read_csv(TweetsCov19_Pfad, sep='\t', error_bad_lines=False, names=TweetsCov19_labels)
print('Form:', df_tweetscov19.shape)
df_tweetscov19.head()

Form: (9409841, 20)

,Tweet_Id,Benutzername,Zeitstempel,Abonnenten,Abonnierten,Retweets,Likes,Entities,Stimmung,Erwähnungen,Hashtags,URLs,Text,Ist_gelöscht,Anzahl der Erwähnungen,Anzahl der Hashtags,Anzahl der URLs,Domäne,Textlänge,Lesbarkeit
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,2019-09-30 22:00:01+00:00,764191,132,19,180,foodie:Foodie:-2.096663959988218;,1 -1,null;,HalloweenTime?,null;,Has your appetite materialized just as fast as...,True,0,1,0,0,155,76.553
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,2019-09-30 22:00:02+00:00,321189,26833,32,43,mainland china:Mainland_China:-1.6252666161640...,1 -1,null;,HongKong,https://www.catholicnewsagency.com/news/amid-h...,The persecution of Catholics in mainland China...,False,0,1,1,catholicnewsagency.com,204,29.468
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,2019-09-30 22:00:03+00:00,14209,10623,90,182,brexit:Brexit:-1.582809637810362;hear hear:Hea...,1 -2,null;,Brexit,null;,"Hear, hear..\nEmily: You were an outspoken cri...",False,0,1,0,0,163,79.534
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,2019-09-30 22:00:03+00:00,2264986,655,60,528,null;,3 -1,amstandardca.,BlueJays,null;,We wrapped up the season with a WINNING week! ...,False,1,1,0,0,132,85.889
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,2019-09-30 22:00:03+00:00,171,138,33,117,my family:My_Family:-2.6353832182503094;roll t...,4 -1,null;,null;,null;,Super excited to announce that I will be spend...,False,0,0,0,0,257,61.203

In [4]:
#Dataframe einschränken
df_tweetscov19 = df_tweetscov19[['Tweet_Id', "Benutzername", 'Abonnenten', 'Abonnierten', 'Ist_gelöscht']]

In [5]:
#Für alle gepostete Tweets eine 1 eintragen.
df_tweetscov19['num_posted'] = df_tweetscov19.apply(lambda row: 1, axis=1)

In [6]:
#Für die gelöschten Tweets eine 1 eintragen
df_tweetscov19['num_del'] = df_tweetscov19.apply(lambda row: 1 if (row['Ist_gelöscht'] == True) else 0, axis=1)

In [8]:
#Die geposteten und gelöschten Tweets nach Benutzername gruppieren und die Werte summieren
df_tweetscov19_loe_repu = df_tweetscov19
df_tweetscov19_unique_user = df_tweetscov19_loe_repu.groupby('Benutzername')['num_posted', 'num_del'].sum()

<ipython-input-8-ff751e9422f7>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_tweetscov19_unique_user = df_tweetscov19_loe_repu.groupby('Benutzername')['num_posted', 'num_del'].sum()

In [9]:
#Anzahl der gelöschten Tweets durch die geposteten berechnen.
df_tweetscov19_unique_user['Deletion_ratio'] = df_tweetscov19_unique_user.apply(lambda row: row['num_del'] / row['num_posted'] , axis=1)
df_tweetscov19_unique_user.head()

                                  num_posted  num_del  Deletion_ratio
Benutzername
000000e6bded7cdeaffee6928df45050           1        0             0.0
0000048f8bdf58d9d5afa27556390261           2        0             0.0
000006f5da1c240d29783090cdf4366a           1        1             1.0
000007c67e0127cc429b0f2730e72469           1        0             0.0
00000998260226834ffdbdf98ff33eb7           1        0             0.0

In [10]:
df_tweetscov19_unique_user.shape

(4095876, 3)

In [6]:
#Die Einzigartige Benutzer auswählen.
df_tweetscov19_loe_repu = df_tweetscov19_loe_repu.drop_duplicates(subset=['Username'])
df_tweetscov19_loe_repu.shape

(4095876, 7)

In [7]:
# Die Reputation für die Benutzer berechnen.
df_tweetscov19_loe_repu['Reputation'] = df_tweetscov19_loe_repu.apply(lambda row: row['Followers'] / (row['Followers'] + row['Friends']) if (row['Followers'] + row['Friends']) != 0 else 0, axis=1)

<ipython-input-7-a07a66251072>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tweetscov19_loe_repu['Reputation'] = df_tweetscov19_loe_repu.apply(lambda row: row['Followers'] / (row['Followers'] + row['Friends']) if (row['Followers'] + row['Friends']) != 0 else 0, axis=1)

In [8]:
#Die dataframe neu indexieren.
df_tweetscov19_unique_user = df_tweetscov19_unique_user.reset_index()
df_tweetscov19_unique_user.head()

                           Username  num_posted  num_del  Deletion_ratio
0  000000e6bded7cdeaffee6928df45050           1        0             0.0
1  0000048f8bdf58d9d5afa27556390261           2        0             0.0
2  000006f5da1c240d29783090cdf4366a           1        1             1.0
3  000007c67e0127cc429b0f2730e72469           1        0             0.0
4  00000998260226834ffdbdf98ff33eb7           1        0             0.0

In [9]:
df_tweetscov19_loe_repu.head()

,Tweet_Id,Username,Followers,Friends,is_deleted,num_posted,num_del,Reputation
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,764191,132,True,1,1,0.999827
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,321189,26833,False,1,0,0.922899
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,14209,10623,False,1,0,0.572205
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,2264986,655,False,1,0,0.999711
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,171,138,False,1,0,0.553398

In [10]:
#Die Reputation zu der Dataframe hinzufügen.
df = df_tweetscov19_loe_repu[['Username', 'Reputation']]
df_tweetscov19_posted_del = df_tweetscov19_posted_del[['Tweet_Id', 'Username', 'Followers', 'Friends', 'is_deleted',]]
df_tweetscov19_user = pd.merge(df_tweetscov19_posted_del, df, on='Username', how='inner')
print('Shape :', df_tweetscov19_user.shape)
df_tweetscov19_user.head()

Shape : (9409841, 6)

,Tweet_Id,Username,Followers,Friends,is_deleted,Reputation
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,764191,132,True,0.999827
1,1181705842275573766,c57d4fb895c5f4a33d2a2b24709f93b5,765034,132,True,0.999827
2,1187828746503540738,c57d4fb895c5f4a33d2a2b24709f93b5,766578,132,True,0.999827
3,1192622772658290688,c57d4fb895c5f4a33d2a2b24709f93b5,767939,133,True,0.999827
4,1193272068621717504,c57d4fb895c5f4a33d2a2b24709f93b5,768180,133,True,0.999827

In [11]:
#Anzahl der geposteten, gelöschten und Löschungsquote zu der Dataframe hinzufügen.
df = df_tweetscov19_unique_user
df_tweetscov19_user = pd.merge(df_tweetscov19_user, df, on='Username', how='inner')
print('Shape :', df_tweetscov19_user.shape)
df_tweetscov19_user.head()

Shape : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,Reputation,num_posted,num_del,Deletion_ratio
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,764191,132,True,0.999827,21,21,1.0
1,1181705842275573766,c57d4fb895c5f4a33d2a2b24709f93b5,765034,132,True,0.999827,21,21,1.0
2,1187828746503540738,c57d4fb895c5f4a33d2a2b24709f93b5,766578,132,True,0.999827,21,21,1.0
3,1192622772658290688,c57d4fb895c5f4a33d2a2b24709f93b5,767939,133,True,0.999827,21,21,1.0
4,1193272068621717504,c57d4fb895c5f4a33d2a2b24709f93b5,768180,133,True,0.999827,21,21,1.0

In [13]:
#Daten speichern.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/TweetsCov19_sample/TweetsCov19_alle_geloeschten/TweetsCov19_all_repu_del_.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19_user.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

**TweetsKB:**

- Anzahl der geposteten Tweets berechnen
- Anzahl der gelöschten Tweets berechnen
- Löschungsquote berechnen
- Reputaion berechnen

***

In [2]:
#Dataframe TweetsKB-Stichprobe lesen.
pfad_tsv = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/tweetskb_sample/tweetskb_sample_emojie_2.tsv'

df_tweetskb = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', "Username", 'Timestamp', 'Followers', 'Friends', 'Retweets', 'Favorites', 'Text', 'Urls', 'is_deleted', 'Hashtags', 'Mentions', 'vader_pos', 'vader_neu', 'vader_neg', 'vader_com', 'Hashtags_num', 'Mentions_num', 'Text_len', 'URLs_dom', 'URLs_num', 'readability', 'Emojie', 'Emoji_num','Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_sent', 'Emoji_b_zahl' ])
pd.options.display.max_columns = None
print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 29)

,Tweet_Id,Username,Timestamp,Followers,Friends,Retweets,Favorites,Text,Urls,is_deleted,Hashtags,Mentions,vader_pos,vader_neu,vader_neg,vader_com,Hashtags_num,Mentions_num,Text_len,URLs_dom,URLs_num,readability,Emojie,Emoji_num,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_sent,Emoji_b_zahl
0,1178791636039589889,DCComics,2019-09-30 22:00:01+00:00,3349606,563,2,13,"Today on #DCDaily, the crew takes a deep dive ...",http://bit.ly/2mlNYpS:-:,False,['DCDaily'],['DCUTitans'],0.000,1.000,-0.0,0.0000,1,1,192,dcuniverseinfinite.com,1,70.350,[],0,-0.0,0.0,0.0,0.0,0.0
1,1178791641265639424,seanberdyz,2019-09-30 22:00:02+00:00,1203,499,4,20,𝘪’𝘮 𝘨𝘰𝘯𝘯𝘢 𝘣𝘦 𝘳𝘪𝘨𝘩𝘵 𝘩𝘦𝘳𝘦 ⟶ https://t.co/kOxWQL5...,http://ourownside.carrd.co:-:,True,[],[],0.000,1.000,-0.0,0.0000,0,0,73,carrd.co,1,82.390,[],0,-0.0,0.0,0.0,0.0,0.0
2,1178791640573579264,AnArtistAtBirth,2019-09-30 22:00:02+00:00,109,215,0,0,❛ 𝘠𝘰𝘶'𝘳𝘦 𝘴𝘪𝘵𝘵𝘪𝘯' 𝘰𝘯 𝘺𝘰𝘶𝘳 𝘧𝘦𝘦𝘭𝘪𝘯𝘨𝘴 . . . 𝘐'𝘮 𝘴𝘪...,null;,True,['𝘛𝘩𝘦𝘰𝘯𝘦'],[],0.000,1.000,-0.0,0.0000,1,0,128,0,0,123.755,[],0,-0.0,0.0,0.0,0.0,0.0
3,1178791644797255680,lagosboygang,2019-09-30 22:00:03+00:00,571,1401,0,0,@Tiffany_o_ @UG_derrick That's the one i wanna...,null;,True,[],"['Tiffany_o_', 'UG_derrick']",0.000,1.000,-0.0,0.0000,0,2,77,0,0,105.921,[],0,-0.0,0.0,0.0,0.0,0.0
4,1178791648056217600,Phenom_Hoops,2019-09-30 22:00:04+00:00,25630,1674,1,1,2022 6’9 Perry Smith Jr. showcasing his high-m...,https://www.phenomhoopreport.com/2022-69-perry...,False,['PhenomHoops'],[],0.058,0.942,-0.0,0.2263,1,0,227,phenomhoopreport.com,1,65.943,[],0,-0.0,0.0,0.0,0.0,0.0

In [3]:
#Dataframe wird eingeschränkt.
# Für die geposteten Tweets wird eine 1 eingetragen.
#Für alle gelöschten Tweets wird ein 1 getragen.
df_tweetskb_posted_del = df_tweetskb[['Tweet_Id', "Username", 'Followers', 'Friends', 'is_deleted']]
df_tweetskb_posted_del['num_posted'] = df_tweetskb_posted_del.apply(lambda row: 1, axis=1)
df_tweetskb_posted_del['num_del'] = df_tweetskb_posted_del.apply(lambda row: 1 if (row['is_deleted'] == True) else 0, axis=1)
df_tweetskb_posted_del.head()

<ipython-input-3-7841b5cce555>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tweetskb_posted_del['num_posted'] = df_tweetskb_posted_del.apply(lambda row: 1, axis=1)
<ipython-input-3-7841b5cce555>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tweetskb_posted_del['num_del'] = df_tweetskb_posted_del.apply(lambda row: 1 if (row['is_deleted'] == True) else 0, axis=1)

,Tweet_Id,Username,Followers,Friends,is_deleted,num_posted,num_del
0,1178791636039589889,DCComics,3349606,563,False,1,0
1,1178791641265639424,seanberdyz,1203,499,True,1,1
2,1178791640573579264,AnArtistAtBirth,109,215,True,1,1
3,1178791644797255680,lagosboygang,571,1401,True,1,1
4,1178791648056217600,Phenom_Hoops,25630,1674,False,1,0

In [5]:
#Die Summer der Anzahl der geposteten und gelöschten tweets wird berehnet.
df_tweetskb_unique_user = df_tweetskb_posted_del.groupby('Username')['num_posted', 'num_del'].sum()

<ipython-input-5-afc2534307c3>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_tweetskb_unique_user = df_tweetskb_posted_del.groupby('Username')['num_posted', 'num_del'].sum()

In [6]:
#Anzahl der gelöschten durch die geposteten wird berechnet
df_tweetskb_unique_user['Deletion_ratio'] = df_tweetskb_unique_user.apply(lambda row: row['num_del'] / row['num_posted'] , axis=1)

In [7]:
#Die Reputation wird berechnet.
df_tweetskb_posted_del = df_tweetskb_posted_del.drop_duplicates(subset=['Username'])
print(df_tweetskb_posted_del.shape)
df_tweetskb_posted_del['Reputation'] = df_tweetskb_posted_del.apply(lambda row: row['Followers'] / (row['Followers'] + row['Friends']) if (row['Followers'] + row['Friends']) != 0 else 0, axis=1)
df_tweetskb_posted_del.head()

(5208425, 7)

,Tweet_Id,Username,Followers,Friends,is_deleted,num_posted,num_del,Reputation
0,1178791636039589889,DCComics,3349606,563,False,1,0,0.999832
1,1178791641265639424,seanberdyz,1203,499,True,1,1,0.706816
2,1178791640573579264,AnArtistAtBirth,109,215,True,1,1,0.336420
3,1178791644797255680,lagosboygang,571,1401,True,1,1,0.289554
4,1178791648056217600,Phenom_Hoops,25630,1674,False,1,0,0.938690

In [8]:
#Dataframe wird neu indexieret.
df_tweetskb_unique_user = df_tweetskb_unique_user.reset_index()
df_tweetskb_unique_user.head()

         Username  num_posted  num_del  Deletion_ratio
0        00000000           1        0             0.0
1     000000000yt           1        1             1.0
2  00000000martin           5        0             0.0
3      000000911a           1        1             1.0
4      000000_127           1        0             0.0

In [9]:
#Anzahl der geposteten und gelöschten Tweets, sowie die Löschungsquote wird zu Dder ataframe hinzugefügt.
df = df_tweetskb_unique_user[['Username', 'num_posted', 'num_del', 'Deletion_ratio']]
df_tweetskb = df_tweetskb[['Tweet_Id', "Username", 'Followers', 'Friends', 'is_deleted']]
df_tweetskb_user = pd.merge(df_tweetskb, df, on='Username', how='inner')
print('Shape :', df_tweetskb_user.shape)
df_tweetskb_user.head()

Shape : (9409841, 8)

,Tweet_Id,Username,Followers,Friends,is_deleted,num_posted,num_del,Deletion_ratio
0,1178791636039589889,DCComics,3349606,563,False,42,0,0.0
1,1179833467644850176,DCComics,3351904,563,False,42,0,0.0
2,1180490470125965313,DCComics,3354879,563,False,42,0,0.0
3,1187059882534400000,DCComics,3369484,562,False,42,0,0.0
4,1190311668141580288,DCComics,3376154,564,False,42,0,0.0

In [10]:
#Reputation wird berechnet.
df = df_tweetskb_posted_del[['Username', 'Reputation']]
df_tweetskb_user = pd.merge(df_tweetskb_user, df, on='Username', how='inner')
print('Shape :', df_tweetskb_user.shape)
df_tweetskb_user.head()

Shape : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,num_posted,num_del,Deletion_ratio,Reputation
0,1178791636039589889,DCComics,3349606,563,False,42,0,0.0,0.999832
1,1179833467644850176,DCComics,3351904,563,False,42,0,0.0,0.999832
2,1180490470125965313,DCComics,3354879,563,False,42,0,0.0,0.999832
3,1187059882534400000,DCComics,3369484,562,False,42,0,0.0,0.999832
4,1190311668141580288,DCComics,3376154,564,False,42,0,0.0,0.999832

In [13]:
#Dataframe wird gespeichert.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/Tweetskb_sample/TweetsKB_alle_geloeschten/TweetsKB_all_repu_del_.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb_user.iterrows():
        tsv_writer.writerow(row.values.tolist())